<section class="hero-text-image-section {% if gradient_background_color %} gradient-background-color {% endif %}">
    <div class="container">
        <div class="hero-text-image-row">
            <div class="content-col {% if large_font_size %} large-font-size {% endif %} {{ text_align }} {% if remove_h2_underline %} remove-h2-underline {% endif %}">
                {{ content|e('wp_kses_post') }}
            </div>
            <div class="image-col">
                {% if retina_image %}
                    <img
                        class="lazyload"
                        src="{{ placeholderImage(image.width, image.height) }}"
                        data-src="{{ image.src|resizeDynamic(image.width) }}"
                        data-srcset="{{ image.src|resizeDynamic(image.width) }} 1x, {{ retina_image.src|resizeDynamic(retina_image.width) }} 2x"
                        data-sizes="auto"
                        alt="{{ image.alt|e }}"
                    >
                {% else %}
                    <img
                        class="lazyload"
                        src="{{ placeholderImage(image.width, image.height) }}"
                        data-src="{{ image.src|resizeDynamic(image.width) }}"
                        alt="{{ image.alt|e }}"
                    >
                {% endif %}
            </div>
        </div>
    </div>
</section>