<!DOCTYPE html>
<html class="html {{ body_class }}" lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} {{ __('Feed', 'flynt') }}" href="{{ site.rss2 | e('esc_url') }}">

    {{ function('wp_head') }}

    {% if website_scripts.run_tracking_scripts %}
      {{ website_scripts.before_head_closing_tag }}
    {% endif %}
  </head>
  <body class="{{ body_class }}">
    {% if website_scripts.run_tracking_scripts %}
      {{ website_scripts.after_body_opening_tag }}
    {% endif %}

    {% block header %}
      {{ renderComponent('SiteHeader') }}
    {% endblock %}

    {% block content %}
      No <code>{{ '{% block content %}' }}</code> defined for this template.
    {% endblock %}

    {% block footer %}
      {{ renderComponent('SiteFooter') }}
    {% endblock %}
    
    {{ function('wp_footer') }}

    {% if website_scripts.run_tracking_scripts %}
      {{ website_scripts.begore_body_closing_tag }}
    {% endif %}
  </body>
</html>
